.expression(
   ng-mousedown="select($event.button == 0)",
   ng-click="$event.stopPropagation()",

   ng-class="{'expression-selected': selected, 'expression-editing': editing }",

   draggable="true",

   editable="editing",
   ng-model="model.src",
   spellcheck="false"
   ng-blur="deleteIfEmpty()",
)

