.expression(
   ng-mousedown="select($event.button)"
   ng-click="$event.stopPropagation()"

   ng-class="{\
      'expression-selected': selected,\
      'expression-editing': editing\
   }"

   draggable="{{!editing}}"

   editable="editing"
   ng-model="model.src"
   spellcheck="false"
   ng-blur="deleteIfEmpty()"
   ng-style="{\
      left: model.x + 'px',\
      top: model.y + 'px'\
   }"
)

